html,
body {
  margin: 0px;
}

.editor {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex: 1;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
}

.form {
  margin-top: auto;
  display: flex;
}

.query-textbox {
  flex-grow: 1;
  border-radius: 5px;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
