th {
  text-align: left;
  padding-left: 5px;
  padding-bottom: 10px;
}

tr:nth-child(even) {
  background-color: rgb(7, 7, 7);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.query-results {
  overflow-y: scroll;
}

.query-results-table {
  width: 100%;
}
