/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

.table {
  display: grid;
  overflow: scroll;
  grid-template-columns: auto auto auto auto;
}

.table-header {
  padding: 5px;
  position: sticky;
  z-index: 1;
  top: 0;
  background: black;
}
